In [1]:
# Import modules
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

In [5]:
# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(
    Path('../Resources/InspectionList1.csv')   
)

# Review the DataFrame
df.head()

,Seg_ID,UP_MH,DS_MH,"Dia., Inch",Shape,Material,"Length, Ft","MWL, %","DS, % depth",defects,Video Quality,Location,Risk,Inspection Raning
0,1.0,36206.0,36207.0,42.0,Circular,DIP,200.0,95.0,0%,1.0,0.0,DC,1.0,3.0
1,2.0,36206.0,36207.0,60.0,Circular,DIP,200.0,95.0,0%,1.0,0.0,DC,1.0,3.0
2,3.0,36206.0,36207.0,60.0,Circular,DIP,200.0,95.0,0%,1.0,0.0,DC,1.0,1.0
3,4.0,36204.0,838.0,102.0,Circular,zzz,651.0,80.0,0%,4.0,1.0,DC,4.0,9.0
4,5.0,8197.0,36206.0,96.0,Circular,RCP,950.0,75.0,0%,1.0,1.0,DC,1.0,8.0

### 2. Separate the features `X` from the target `y`

In [7]:
# Seperate the features, X,  from the target variable, y
y = df['y']
X = df.drop(columns='y')

KeyError: 'y'

In [9]:
# Preview the features data
X.head()

NameError: name 'X' is not defined

In [5]:
# Preview the first five entries for the target variable
y[:5]

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

### 3. Encode the categorical variables from the features data using `get_dummies`.

In [6]:
# Encode the categorical variables using get_dummies
X = pd.get_dummies(X)

In [7]:
# Review the features data
X.head()

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,30,1787,19,79,1,-1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,33,4789,11,220,1,339,4,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,35,1350,16,185,1,330,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,30,1476,3,199,4,-1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,59,0,5,226,1,-1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1

### 4. Separate the data into training and testing subsets.

In [8]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### 5. Scale the data using `StandardScaler`

In [9]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

### 6. Instantiate an K Nearest Neighbor Classifier instance.

In [10]:
# Import the KNeighborsClassifier module from sklearn
from sklearn.neighbors import KNeighborsClassifier

# Instantiate the KNeighborsClassifier model with n_neighbors = 3 
knn = KNeighborsClassifier(n_neighbors=3)

### 7. Fit the model using the training data.

In [11]:
# Train the model using the training data
knn.fit(X_train_scaled, y_train)

KNeighborsClassifier(n_neighbors=3)

### 8. Make predictions using the testing data.

In [12]:
# Create predictions using the testing data
y_pred = knn.predict(X_test_scaled)

### 9. Generate the classification report for the test data.

In [13]:
# Print the classification report comparing the testing data to the model predictions
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          no       0.90      0.97      0.93       988
         yes       0.54      0.22      0.32       143

    accuracy                           0.88      1131
   macro avg       0.72      0.60      0.62      1131
weighted avg       0.85      0.88      0.86      1131